<!--<div class="image-upload rounded ripple" title="Cambia immagine di copertina">-->
<!--  <label class="cursor-pointer" for="file-input">-->
<!--    <img #img (error)="img.src = imagePathDefault"-->
<!--         [src]="selectedFile?.src ? basePathImage + '/' + selectedFile?.src : imagePathDefault"-->
<!--         alt="Cover pic for community" class="w-100"-->
<!--         height="150px"-->
<!--         style="object-fit: cover"/>-->
<!--  </label>-->

<!--  <input id="file-input" type="file" #imageInput accept="image/*" (change)="uploadImage(imageInput)"/>-->
<!--</div>-->
